body{
    background-color: lightskyblue;
}
.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    width:30vw;
   
    
}
h1{
    text-align: center;
    margin-top:7% ;
    color: blue;
    
}
label{
    text-align: center;
    margin-bottom: 0.3rem;
    font-size: large;
    font-weight: bold;
}
.input-price{
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    border-color: blue;
}
#input-btn{
    padding: 0.5rem 0.5rem;
    border-color: blue;
    margin-top: 1rem;

}